* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background-color: rgba(20, 40, 80, 0.75);
}

window#waybar.empty {
  background-color: rgba(0, 0, 0, 0);
}

#battery,
#temperature,
#clock,
#workspaces,
#custom-rofi,
#tray,
#pulseaudio,
#backlight,
#network,
#custom-right,
#custom-left {
  color: #add8e6; /* Light Blue */
  background: transparent;
  margin: 0px;
  opacity: 1;
  border: 0px solid #181825;
}

tooltip {
  background: #000000; /* Black */
  color: #add8e6; /* Light Blue */
  border-radius: 22px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: #add8e6; /* Light Blue */
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background: #000000; /* Black */
  color: #add8e6; /* Light Blue */
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: #000000; /* Black */
  border: none;
}

#workspaces {
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#custom-rofi {
  color: #add8e6; /* Light Blue */
  padding-left: 26px;
  padding-right: 10px;
  min-width: 20px;
  background-image: url("/usr/share/pixmaps/archlinux-logo.svg");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 20px 20px;
}

#temperature {
  color: #add8e6; /* Light Blue */
  padding-left: 0px;
  padding-right: 19px;
}

#temperature.critical {
  color: #add8e6; /* Light Blue */
  padding-left: 0px;
  padding-right: 19px;
}

#backlight {
  color: #add8e6; /* Light Blue */
  padding-left: 0px;
  padding-right: 19px;
}

#pulseaudio {
  color: #add8e6; /* Light Blue */
  padding-left: 26px;
  padding-right: 19px;
  background-image: url("/usr/share/icons/breeze/status/22/audio-volume-high.svg");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 18px 18px;
}

#pulseaudio.muted {
  background-image: url("/usr/share/icons/breeze/status/22/audio-volume-muted.svg");
}

#battery {
  color: #add8e6; /* Light Blue */
  padding-left: 0px;
  padding-right: 0px;
}

#tray {
  padding-left: 0px;
  padding-right: 19px;
}

#network {
  padding-left: 26px;
  padding-right: 19px;
  min-width: 100px;
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 18px 18px;
}

#network.wifi {
  background-image: url("/usr/share/icons/breeze/devices/16/network-wireless-connected-100.svg");
}

#network.ethernet {
  background-image: url("/usr/share/icons/breeze/devices/16/network-wired-activated.svg");
}

#network.disconnected {
  background-image: url("/usr/share/icons/breeze/status/22/network-offline.svg");
}

#network.linked {
  background-image: url("/usr/share/icons/breeze/devices/16/network-wired-unavailable.svg");
}

#clock {
  color: #add8e6; /* Light Blue */
  padding-left: 26px;
  padding-right: 0px;
  background-image: url("/usr/share/icons/breeze/preferences/22/preferences-system-time.svg");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 18px 18px;
}

#custom-right {
  padding-right: 3px;
}

#custom-left {
  padding-left: 3px;
}
