// Config //
configuration {
    modi:                        "drun";
    show-icons:                  true;
    icon-theme:                  "Papirus-Dark";
    drun-display-format:         "{name}";
    font:                        "JetBrainsMono Nerd Font 11";
}

@theme "~/.config/rofi/theme.rasi"

// Main //
window {
    enabled:                     true;
    fullscreen:                  false;
    width:                       40em;
    height:                      40em;
    transparency:                "real";
    cursor:                      "default";
    spacing:                     0em;
    padding:                     0em;
    border:                      0px;
    border-radius:               0px;
    background-color:            transparent;
    shadow:                      false;
}
mainbox {
    enabled:                     true;
    orientation:                 vertical;
    spacing:                     0em;
    padding:                     0em;
    children:                    [ "spacer-top", "content-row", "spacer-bottom" ];
    background-color:            transparent;
}
spacer-top {
    expand:                      true;
    background-color:            transparent;
}
spacer-bottom {
    expand:                      true;
    background-color:            transparent;
}
content-row {
    expand:                      false;
    orientation:                 horizontal;
    children:                    [ "spacer-left", "content", "spacer-right" ];
    background-color:            transparent;
}
spacer-left {
    expand:                      true;
    background-color:            transparent;
}
spacer-right {
    expand:                      false;
    width:                       190px;
    background-color:            transparent;
}
content {
    expand:                      false;
    width:                       380px;
    orientation:                 vertical;
    spacing:                     0.6em;
    children:                    [ "inputbar", "listview" ];
    background-color:            transparent;
}

// Input //
inputbar {
    enabled:                     true;
    children:                    [ "prompt", "entry" ];
    spacing:                     0.6em;
    padding:                     0.7em 1em;
    border-radius:               12px;
    background-color:            transparent;
    text-color:                  @main-fg;
}
prompt {
    enabled:                     true;
    background-color:            transparent;
    text-color:                  @main-ex;
}
entry {
    enabled:                     true;
    placeholder:                 "Search apps...";
    placeholder-color:           rgba(205, 214, 244, 0.45);
    background-color:            transparent;
    text-color:                  @main-fg;
    cursor:                      text;
}

// Lists //
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       7;
    spacing:                     0.3em;
    cursor:                      "default";
    dynamic:                     true;
    scrollbar:                   false;
    fixed-height:                true;
    padding:                     0.6em;
    border-radius:               12px;
    background-color:            transparent;
    text-color:                  @main-fg;
}

// Elements //
element {
    enabled:                     true;
    orientation:                 horizontal;
    spacing:                     0.8em;
    padding:                     0.5em 0.7em;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @main-fg;
    border-radius:               10px;
}
element normal.urgent, element alternate.urgent {
    text-color:                  @main-ex;
}
element selected.normal {
    background-color:            @select-bg;
    text-color:                  @select-fg;
}
element-icon {
    size:                        1.8em;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
element-text {
    vertical-align:              0.5;
    horizontal-align:            0.0;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
